.card {
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  border-radius: 14px;
  padding: 5rem;
  line-height: 1.6;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.deviceMockup {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.desktopImg {
  opacity: 0;
  height: 20rem;
  width: auto;
  object-fit: contain;
  transform: translateY(60px);
  animation: none;
}

.phoneImg {
  opacity: 0;
  height: 18rem;
  width: auto;
  position: absolute;
  left: 0;
  bottom: -1.2rem;
  transform: translateY(-60px);
  animation: none;
}

[data-visible="true"] .desktopImg,
[data-visible="true"] .phoneImg {
  animation: appear 1.5s forwards;
}

.left {
  flex-direction: row-reverse;
}

.left .phoneImg {
  left: auto;
  right: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}

.buttons img {
  height: 1.5rem;
  width: auto;
}

.buttons a {
  text-decoration: none;
  cursor: pointer;
  border-radius: 999px;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.liveDemoBtn {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.liveDemoIcon {
  filter: invert(1);
}

.githubBtn {
  border: 2px solid black;
  color: black;
}

@keyframes appear {
  100% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
