.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.icon {
  height: 100px; /* fixed height */
  width: auto; /* keep aspect ratio */
  object-fit: contain;
}
