.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  color: var(--color);
}
.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10rem;
  width: 100%;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

/* Contact Info */

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.contactInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field {
  display: flex;
  gap: 1rem;
  align-items: center;

  border: 1px solid gray;
  background-color: rgb(235, 233, 233);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 12px;
}

.field:hover {
  border: 1px solid var(--primary);
}

.fieldName {
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: var(--primary);
}

.fieldContent {
  font-size: 0.9rem;
}

/* Contact Form */

.contactForm {
  display: flex;
  flex-direction: column;

  flex: 1;
  border: 1px solid gray;
  background-color: rgb(235, 233, 233);
  border-radius: 12px;
  padding: 2rem;
}

.label {
  font-weight: 700;
  margin-bottom: 0.2rem;
  color: var(--primary);
}

.contactInput {
  all: unset;
  box-sizing: border-box;
  display: block;
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 1rem;
  border-radius: 12px;
  padding: 0.8rem;
  font-size: 1rem;
  width: 100%;
}

.textarea {
  all: unset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.contact button {
  padding: 0.8rem;
  font-size: 1rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 12px;
  background-image: linear-gradient(
    110deg,
    #6442d5 0%,
    #a855c8 50%,
    #bd2e8f 100%
  );
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.contactFeedback {
  margin-top: 0.8rem;
  text-align: center;
}
