@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins.regular.ttf");
  font-weight: normal;
  font-style: normal;
}

#root {
  font-family: "Poppins", system-ui, sans-serif;
}

:root {
  --background: white;
  --color: black;
  --primary: #7c3aed;
}

:root[data-theme="dark"] {
  --background: black;
  --color: white;
  --primary: #8e51ff;
}
