* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Poppins", system-ui, sans-serif;
}

:root {
  --background: white;
  --color: black;
  --primary: #7c3aed;
}

:root[data-theme="dark"] {
  --background: black;
  --color: white;
  --primary: #8e51ff;
}
